<a href="https://colab.research.google.com/github/tomas-vl/aml-akcie/blob/main/aml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Načtení dat

In [1]:
!wget https://raw.githubusercontent.com/tomas-vl/aml-akcie/main/data/ORCL_all.csv

--2024-04-08 16:41:17--  https://raw.githubusercontent.com/tomas-vl/aml-akcie/main/data/ORCL_all.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 709573 (693K) [text/plain]
Saving to: ‘ORCL_all.csv’

ORCL_all.csv        100%[===================>] 692.94K  --.-KB/s    in 0.07s

2024-04-08 16:41:17 (10.3 MB/s) - ‘ORCL_all.csv’ saved [709573/709573]

In [2]:
import pandas as pd

In [3]:
all = pd.read_csv('ORCL_all.csv')
all = all.loc[all['date'] > '2015-01-01']
print(all)

split_date = '2021-01-01'

training = all.loc[all['date'] <= split_date]
test = all.loc[all['date'] > split_date]

print(training)
print(test)

      Unnamed: 0    id        date        open        high         low  \
7264        7265  7265  2015-01-02   45.020000   45.189999   43.970001
7265        7266  7266  2015-01-05   44.160000   44.250000   43.580002
7266        7267  7267  2015-01-06   44.060001   44.180000   42.990002
7267        7268  7268  2015-01-07   43.330002   43.520000   43.009998
7268        7269  7269  2015-01-08   43.630001   43.939999   43.380001
...          ...   ...         ...         ...         ...         ...
9580        9581  9581  2024-03-18  127.199997  128.949997  126.879997
9581        9582  9582  2024-03-19  127.750000  129.210007  126.489998
9582        9583  9583  2024-03-20  129.979996  130.690002  128.270004
9583        9584  9584  2024-03-21  130.520004  132.770004  128.949997
9584        9585  9585  2024-03-22  129.009995  129.210007  127.550003

           close  adjusted_close    volume
7264   44.330002       38.272781  15070200
7265   43.590000       37.736038  18369400
7266   43.139999       37.346478  19229500
7267   43.150002       37.355148  13502200
7268   43.410000       37.580227  17516900
...          ...             ...       ...
9580  127.800003      127.800003  12231400
9581  129.190002      129.190002  10221000
9582  129.240005      129.240005   8373300
9583  129.009995      129.009995  17842400
9584  127.790001      127.790001   6655800

[2321 rows x 9 columns]
      Unnamed: 0    id        date       open       high        low  \
7264        7265  7265  2015-01-02  45.020000  45.189999  43.970001
7265        7266  7266  2015-01-05  44.160000  44.250000  43.580002
7266        7267  7267  2015-01-06  44.060001  44.180000  42.990002
7267        7268  7268  2015-01-07  43.330002  43.520000  43.009998
7268        7269  7269  2015-01-08  43.630001  43.939999  43.380001
...          ...   ...         ...        ...        ...        ...
8770        8771  8771  2020-12-24  65.050003  65.589996  64.779999
8771        8772  8772  2020-12-28  65.410004  65.690002  64.750000
8772        8773  8773  2020-12-29  65.250000  65.269997  64.220001
8773        8774  8774  2020-12-30  64.800003  64.910004  64.349998
8774        8775  8775  2020-12-31  64.339996  64.769997  64.010002

          close  adjusted_close    volume
7264  44.330002       38.272781  15070200
7265  43.590000       37.736038  18369400
7266  43.139999       37.346478  19229500
7267  43.150002       37.355148  13502200
7268  43.410000       37.580227  17516900
...         ...             ...       ...
8770  64.959999       61.703064   3796500
8771  64.870003       61.617577   6463500
8772  64.459999       61.228127   7770200
8773  64.400002       61.171139   6192000
8774  64.690002       61.446602   6928600

[1511 rows x 9 columns]
      Unnamed: 0    id        date        open        high         low  \
8775        8776  8776  2021-01-04   64.690002   64.699997   63.169998
8776        8777  8777  2021-01-05   63.680000   63.790001   62.480000
8777        8778  8778  2021-01-06   62.270000   63.349998   61.910000
8778        8779  8779  2021-01-07   62.849998   63.740002   62.849998
8779        8780  8780  2021-01-08   63.180000   63.540001   62.910000
...          ...   ...         ...         ...         ...         ...
9580        9581  9581  2024-03-18  127.199997  128.949997  126.879997
9581        9582  9582  2024-03-19  127.750000  129.210007  126.489998
9582        9583  9583  2024-03-20  129.979996  130.690002  128.270004
9583        9584  9584  2024-03-21  130.520004  132.770004  128.949997
9584        9585  9585  2024-03-22  129.009995  129.210007  127.550003

           close  adjusted_close    volume
8775   63.750000       60.553730  11249900
8776   62.959999       59.803337  11005700
8777   62.570000       59.660313   8685400
8778   63.070000       60.137058   7382800
8779   63.380001       60.432648   7751700
...          ...             ...       ...
9580  127.800003      127.800003  12231400
9581  129.190002      129.190002  10221000
9582  129.240005      129.240005   8373300
9583  129.009995      129.009995  17842400
9584  127.790001      127.790001   6655800

[810 rows x 9 columns]